<header>
      <nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "eShop Online Store", store_index_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      	
		<li class="active">
      		<%= link_to "Categories", '#' %>
      	</li> 
      	     
      	<li class="divider"></li>
      	
      	<li >
      		<%= link_to "News", '#' %>
      	</li>
      	
      	<li class="divider"></li>
      	
      	
      	<li class="has-dropdown"><a href="#">My Account</a>

        <ul class="dropdown">
          <li>
    		<%= link_to('Profile', '#') %>
    	  </li>
        	
          <li>
    		<%= link_to('Edit account', '#') %>
    	  </li>
    	  
          <li class="divider"></li>
          
		  <li>
    		<%= link_to('Logout', '#') %>
    	  </li>
    	  
    	  <li class="divider"></li>
    	  
        </ul>
      </li>
      	
      
      <li class="divider"></li>
     
    </ul>

	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li class="divider hide-for-small"></li>
	  
	      <li class="has-form">
	        <form>
	          <div class="row collapse">
	            <div class="small-8 columns">
	              <input type="text" placeholder="Search eShop">
	            </div>
	            <div class="small-4 columns">
	              <a href="#" class="button">Search</a>
	            </div>
	          </div>
	        </form>
	      </li>
	      <li class="divider show-for-small"></li>
	      
	    </ul>
  </section>
</nav>
</header>