<% provide(:title,'Admin Sign Up')%>
<div class="row">
	
	<div class="large-4 columns">
		<p></p>
	</div>
	
	<div class="large-6 columns" >
		<h2 class="subheader">Create New Admin</h2>
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		
		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>
		
		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>
		
		  <div><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></div>
		
		  <div><%= f.submit "Create",:class =>'button' %></div>
		<% end %>
		
		<%= render "devise/shared/links" %>
	</div>
	<div class="large-2 columns">
		<p></p>
	</div>
</div>