<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :size => 40 %>
  </div>
  
  <div class="field">
    <%= f.label :card_type %><br />
    <%= f.select :card_type, [["Visa", "visa"],["Master Card", "master"],
    ["Discover", "discover"],["American Express", "american_express"]],
				 :prompt => 'Select a Card Type' %>
  </div>
  
  <div class="field">
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number, :size => 40 %>
  </div>
  
  <div class="field">
    <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
    <%= f.text_field :card_verification, :size => 40 %>
  </div>
  
  <div class="field">
    <%= f.label :card_expires_on %><br />
    <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year,
   :end_year => Date.today.year+10, :add_month_numbers =>true %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Place Order' ,:class => 'button'%>
  </div>
<% end %>
