<% provide(:title,'Catalog')%>

	<h1 class="subheader">My eShop Catalog</h1>
	
	<ul class=" large-block-grid-3">
	<% @products.each do |product| %>
		<!-- Using both block grids together for different layouts -->
		  <li>
		  	<div class="entry" >
				<%= image_tag(product.image_url) %>
				<h3><%= product.title %></h3>
				<%=sanitize truncate(product.description,
					:length => 60) %>
				<div class="price_line" >
					 <div class="row">
			          <div class="small-4 columns">
			          	<div class="success label"> <%= number_to_currency(product.price) %> </div>
			          </div>
			          <div class="small-1 columns">
			          	
			          </div>
			          <div class="small-6 columns">
			          	<%= button_to 'Add to Cart' , line_items_path(:product_id => product),
					 		:class => "button", :remote => true %>
			          </div><div class="small-1 columns">
			          	
			          </div>
			        </div>
					 
				</div>
			</div>	
		  </li>
	<% end %>
	</ul>
